
nav#sideNav.navbar.navbar-expand-lg.navbar-dark.fixed-top
  //- 로고 : 새로고침
  a.navbar-brand(href='#refresh')  
      img(src='img/logo.png', alt='', width='50rem;', height='50rem;')
  //- navbar 토글 
  button.navbar-toggler.custom-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  #navbarSupportedContent.collapse.navbar-collapse
    ul.navbar-nav
      li.nav-item
        a.nav-link(href='#about') About
      li.nav-item
        a.nav-link(href='#about') About
      li.nav-item
        a.nav-link(href='#about') About
      li.nav-item
        a.nav-link(href='#about') About
      li.nav-item