
  @keyframes card-move1 {
    0% {left: 2%;}
    80% {left: 50%;}
    90% {left: 46%;}
    100% {left: 48%;}
  } @keyframes card-move2 {
    0% {left: 48%;}
    80% {left: 0%;}
    90% {left: 4%;}
    100% {left: 2%;}
  }
  @media (min-width: 992px ) {
    .card {
      margin-top: 2rem;
      margin-left: 5rem;
      margin-right: 5rem;
      /* padding-left: 15px;
      padding-right: 15px; */
      height: 35rem;
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center; 
      /* text-align: center; */
    }
    .card .card-body .row {
      flex-direction: row;
      align-items: center; 
      text-align: center;
    }
    .card .card-body .row .col-lg-6#left-card {
      left: -5%;
      z-index: 101;
    }
    .card .card-body .row .col-lg-6#right-card {
      left: 5%;
      z-index: 10;
    }
    .card .card-body .row .col-lg-6#card-form {
      position: absolute;
      box-shadow: 0px 0px 15px 1px gray;
      background-color: rgba(255,255,255,0.9);
      text-align: center;
      height: 40rem;
      width: 40rem;
      z-index: 1;
      /* 좌측 : 2%  | 우측 : 48% */
      left: 48%;
      /* animation-name: card-move; */
      animation-duration: 0.8s;
      animation-fill-mode: forwards;
    }
    .card .card-body:not(#case) {
      color: red;
    }
  }
  
  .card {
    border-radius: 0.4rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../img/thumb_2.jpg');
    box-shadow: 0px 0px 15px 1px gray;
    background-size: cover;
    border: 0px;
  }
  
  .card .card-body:not(#form) {
    color: white;
  }

  h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }
  h1 {
    font-weight: bold;
    color: black;
  }

form.login input[type="text"], form.login input[type="password"], form.login input[type="email"]
{
    font-family: 'Roboto', sans-serif;
    width: 90%;
    margin: 0;
    padding: 10px 5px;
    background: transparent;
    border: 0;
    border-bottom: 1px solid black;
    outline: 0;
    margin-bottom: 5px;
    color: black;
}

form.login input[type="submit"]
{
  font-family: 'Roboto', sans-serif;
    width: 90%;
    font-size: 25px;
    text-transform: uppercase;
    /* font-weight: 400; */
    margin-top: 20px;
    outline: 0;
    cursor: pointer;
}

form.login input[type="submit"]:hover
{
    transition: background-color 0.5s ease;
}

form.login .remember-forgot
{
    float: left;
    width: 100%;
    margin: 10px 0 0 0;
}
form.login .forgot-pass-content
{
    min-height: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
}
form.login label, form.login a
{
    font-size: 12px;
    font-weight: 400;
    color: black;
}