
  @media (min-width: 992px ) {
    .card {
      margin-top: 2rem;
      margin-left: 5rem;
      margin-right: 5rem;
      padding-left: 15px;
      padding-right: 15px;
      height: 35rem;
      position: relative;
      display: flex;
      flex-direction: row;
      align-items: center; 
      text-align: center;
    }
    .card .card-body .row {
      flex-direction: row;
      align-items: center; 
      text-align: center;
    }
    .card .card-body .row .col-lg-5#card-form {
      position: absolute;
      box-shadow: 0px 0px 15px 1px gray;
      background-color: rgba(255,255,255,0.9);
      text-align: center;
      height: 40rem;
      /* 좌측 : 0%  | 우측 : 55% */
      margin-left: 0%;
    }
    .card .card-body:not(#case) {
      color: red;
    }
  }
  
  .card {
    border-radius: 0.4rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-image: url('../img/thumb_2.jpg');
    box-shadow: 0px 0px 15px 1px gray;
    background-size: cover;
    border: 0px;
  }
  
  .card .card-body:not(#form) {
    color: white;
  }

  h1, h2, h3 {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
  }
  h1 {
    font-weight: bold;
  }
  input {
    border: 0;
    outline: 0;
    background: transparent;
    border-bottom: 1px solid black;
  }