html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  @media (min-width: 992px) {
    body {
      padding-left: 6.5rem;
    }
  }
  .carousel, .carousel-item, .active {
    height: 100%;
  }
  .carousel-inner {
    height: 100%;
  }
  .carousel .carousel-inner .bg {
    background-repeat: no-repeat;
    background-size: cover;
  }
  .carousel .carousel-inner .bg1 {
    background-image: url('../img/thumb_0.jpg');
    background-position: center top;
  }
  .carousel .carousel-inner .bg2 {
    background-image: url('../img/thumb_1.jpg');
    background-position: center center;
  }
  .carousel .carousel-inner .bg3 {
    background-image: url('../img/thumb_2.jpg');
    background-position: center bottom;
  }