body,
html {
    height: 100%;
}
@media (min-width: 992px) {
    #index-center,
    body {
        padding-left: 6.5rem;
    }
}

#recommend-novel img {    
  object-fit: cover;
  width: 100%;
  height: 350px;
  -webkit-filter: grayscale(10%); /* Safari 6.0 - 9.0 */
  filter: grayscale(10%);
}

#best-novel .card {
  padding: 0px;
}
#best-novel img {
  object-fit: cover;
  width: 100%;
  height: 350px;
}

i.fas {
    color: gray;
}

@media (max-width: 992px) {
    .container {
        padding: 0px;
    }
}

h2,
h3,
h4 {
  font-family: 'Black Han Sans', sans-serif;
  color: dimgray;
}
h4 {
    margin-bottom: 0px;
}

h6, p {
  color: dimgray;
}
