extends ../layouts/layout

block _css
  link(href='css/Components/form.css', rel='stylesheet')
  link(href="css/about.css", rel="stylesheet")

block _content
  .container#card-container
    h1
      i.far.fa-question-circle.fa-2x(style='color:#CCCCCC; position:absolute; z-index:-1; ')
      div(style='margin-left:45px; padding-top:25px; color:#34495E;') ABOUT    
    .card(style='')
      .card-body
        br
        img.img-fluid(src='img/tade.png')
      .card-body
        h1 Nice to meet you !
      .card-body
        h4 What is Lorem Ipsum?
        p Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      .card-body
        h4 Why do we use it?
        p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
        br
      .card-body
        h2 Sponsor
        img.img-fluid(src='img/logo.png' style='height:200px; margin:15px')
        img.img-fluid(src='img/logo.png' style='height:200px; margin:15px')
        img.img-fluid(src='img/logo.png' style='height:200px; margin:15px')
      .card-body
        h1 Contanct
        form#contanct
          input(type='email', placeholder='E-mail')
          input(type='text', placeholder='Title')
          textarea(placeholder='Content', name="", rows="10")
          br
          br
          input.btn.btn-dark.btn-sm(type='submit', value='Contanct')
          br
          br
    br
                   
block _js