extends ../layouts/layout

block _css
  link(href='css/carousel.css', rel='stylesheet')

block _content
  #myCarousel.carousel.slide(data-ride='carousel')
    ol.carousel-indicators
      li.active(data-target='#myCarousel', data-slide-to='0')
      li(data-target='#myCarousel', data-slide-to='1')
      li(data-target='#myCarousel', data-slide-to='2')
    .carousel-inner
      .carousel-item.bg.bg1.active
        .container
          .carousel-caption
            h3 Label_0
            p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      .carousel-item.bg.bg2
        .container
          .carousel-caption
            h3 Label_1
            p Lorem Ipsum is simply dummy text of the printing and typesetting industry.
      .carousel-item.bg.bg3
        .container
          .carousel-caption
            h3 Label_2
            p Lorem Ipsum is simply dummy text of the printing and typesetting industry.