extends ../layouts/layout

block _css
  link(href='css/authentication.css', rel='stylesheet')

block _content
  #card-container
    h1 Login
    .card
      .card-body
        .row
          .col-lg-5
            h2 Don't have an account?
            p If you want use this services, Please register account.
            button.btn.btn-outline-light(type='button') Register
          .col-lg-2
          .col-lg-5
            h2 Already have an account?
            p If you have an account, you don't need to Register.
            button.btn.btn-outline-light(type='button') Sign i
          .col-lg-5#card-form


//-   https://mdbootstrap.com/components/forms/