extends ../layouts/layout

block _css
  link(href='css/authentication.css', rel='stylesheet')

block _content
  #card-container
    h1 Login
    .card
      .card-body#custom-card
        h2 Don't Have an account?
        p If you want use this services, Please register account
        button.btn.btn-outline-light(type='button') Register
      .card-body#custom-form-card
        h3 Sign in
        .form-group
          label Email
          input.form-control(type='text', id='email')
        .form-group
          label Password
          input.form-control(type='password', id='password')
        button.btn.btn-primary(type='submit') Sign in
  

//-   https://mdbootstrap.com/components/forms/