extends ../layouts/layout

block _css
    link(rel="stylesheet", href="css/profile.css")

block _content
  #card-container
    //- h1
    //-   i.fas.fa-sign-in-alt.fa-2x(style='color:#CCCCCC; position:absolute; z-index:-1; margin-top:-25px')
    //-   div(style='margin-left:45px; margin-top:0px; margin-bottom:20px; color:#34495E;') Profile
    //-   br
    .card
      .row
        .col-lg-4
          img(src="https://www.nabeel.co.in/files/bootsnipp/team/1.jpg", alt="")
        .col-lg-8
          h1 dd
          h1 dd
          h1 dd
          h1 dd
          h1 dd
          h1 dd
          h1 dd
          h1 dd
        .col-lg-12
          h1 ccc

    

block _js